# Instance code (also sent as X-INSTANCE-CODE and used as location query).
WEBGUARD_LOCATION=
WEBGUARD_CORE_API_KEY=
WEBGUARD_CORE_API_URL=

QUEUE_DEFAULT_WORKERS=3
WEBGUARD_ALLOW_PRIVATE_TARGETS=false

PORT=8080
